.LibrarySong {
  cursor: pointer;
  transition: 0.25s all ease;
  /*
    Можно использовать npm пакет https://www.npmjs.com/package/bemify
    для более красивого оформления в стиле BEM
  */
  &__Cover {
    width: 30%;
    margin-right: 1rem;
    border-radius: 10px;
  }
  &__Artist {
    font-weight: 400;
    font-size: 16px;
  }
  &__Wrapper {
    display: flex;
    align-items: center;
  }
  padding: 1rem 2rem;
  &:hover {
    background-color: rgb(171, 210, 212);
  }
  &_Active {
    background-color: rgb(173, 220, 223);
    box-shadow: 0 0 20px rgba(65, 64, 64, 0.5);
  }
  &_Playing {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-name: heartbeat;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
